!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Bootstrap, from Twitter
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}

    %link{:href => "../assets/css/bootstrap.css", :rel => "stylesheet"}
    :css
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    %link{:href => "../assets/css/bootstrap-responsive.css", :rel => "stylesheet"}

    /[if lt IE 9]
      <script src="../assets/js/html5shiv.js"></script>

    %link{:href => "../assets/ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}
    %link{:href => "../assets/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
    %link{:href => "../assets/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
    %link{:href => "../assets/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}
    %link{:href => "../assets/ico/favicon.png", :rel => "shortcut icon"}
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "#"} Project name
          .nav-collapse.collapse
            %ul.nav
              %li.active
                %a{:href => "#"} Home
              %li
                %a{:href => "#about"} About
              %li
                %a{:href => "#contact"} Contact
    .container
      %h1 Bootstrap starter template
      %p
        Use this document as a way to quick start any new project.
        %br
        All you get is this message and a barebones HTML document.
    / Placed at the end of the document so the pages load faster
    %script{:src => "../assets/js/jquery.js"}
    %script{:src => "../assets/js/bootstrap-transition.js"}
    %script{:src => "../assets/js/bootstrap-alert.js"}
    %script{:src => "../assets/js/bootstrap-modal.js"}
    %script{:src => "../assets/js/bootstrap-dropdown.js"}
    %script{:src => "../assets/js/bootstrap-scrollspy.js"}
    %script{:src => "../assets/js/bootstrap-tab.js"}
    %script{:src => "../assets/js/bootstrap-tooltip.js"}
    %script{:src => "../assets/js/bootstrap-popover.js"}
    %script{:src => "../assets/js/bootstrap-button.js"}
    %script{:src => "../assets/js/bootstrap-collapse.js"}
    %script{:src => "../assets/js/bootstrap-carousel.js"}
    %script{:src => "../assets/js/bootstrap-typeahead.js"}
