%div{:class => "navbar navbar-fixed-top"}
  %div{:class => "navbar-inner"}
    %div{:class => "container"}
      %a{:class => "btn btn-navbar", "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
        %span{:class => "icon-bar"}
        %span{:class => "icon-bar"}
        %span{:class => "icon-bar"}
      %a{:class => "brand", :href => "#"}
        Project name
      %div{:class => "nav-collapse collapse"}
        %ul{:class => "nav"}
          %li{:class => "active"}
            %a{:href => "#"}
              Home
          %li
            %a{:href => "#about"}
              About
          %li
            %a{:href => "#contact"}
              Contact
          %li{:class => "dropdown"}
            %a{:href => "#", :class => "dropdown-toggle", "data-toggle" => "dropdown"}
              Dropdown
              %b{:class => "caret"}
            %ul{:class => "dropdown-menu"}
              %li
                %a{:href => "#"}
                  Action
              %li
                %a{:href => "#"}
                  Another action
              %li
                %a{:href => "#"}
                  Something else here
              %li{:class => "divider"}
              %li{:class => "nav-header"}
                Nav header
              %li
                %a{:href => "#"}
                  Separated link
              %li
                %a{:href => "#"}
                  One more separated link
        %ul{:class => "nav pull-right"}
          %li
            %a{:href => "./navbar.html"}
              Default
          %li
            %a{:href => "./navbar-static-top.html"}
              Static top
          %li{:class => "active"}
            %a{:href => "./navbar-fixed-top.html"}
              Fixed top