---
title: Mobile template
description: Bootstrap adjusted
layout: default
---

%div{:class => "row-fluid"}
	%div{:class => "span4"}
		%h2
			Heading
		%p
			=lorem.sentence
		%p
			%a{:class => "btn btn-m btn-scnd", :href => "#"}
				View details &raquo;
	%div{:class => "span4"}
		%h2
			Heading
		%p
			=lorem.sentence
		%p
			%a{:class => "btn btn-m btn-scnd", :href => "#"}
				View details &raquo;
	%div{:class => "span4"}
		%h2
			Heading
		%p
			=lorem.sentence
		%p
			%a{:class => "btn btn-m btn-scnd", :href => "#"}
				View details &raquo;
%hr
%ul{:class => "thumbnails"}
	%li{:class => "span4"}
		%a{:href => "thumbnail"}
			= image_tag placekitten('180/120'), :class => "img-rounded"
	%li{:class => "span4"}
		%a{:href => "thumbnail"}
			= image_tag placekitten('180/120'), :class => "img-rounded"
	%li{:class => "span4"}
		%a{:href => "thumbnail"}
			= image_tag placekitten('180/120'), :class => "img-rounded"